# ignore virtual environment folder
.venv/

# ignore visual studio code settings folder
.vscode/

# ignore macOS system files
.DS_Store

# ignore python cache files
__pycache__/

# ignored files
Annotations.xlsx
sampling.py
stats.py
todo.txt