# ignore virtual environment folder
.venv/

# ignore visual studio code settings folder
.vscode/

# ignore macOS system files
.DS_Store

# ignore python cache files
__pycache__/

# ignore statistics and sampling files
sampling.py
stats.py

# ignore todo file
todo.txt